.contain {
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../resources/Banner\ Image.png');
    border-radius: 16px;
    height: 600px;
    background-repeat: no-repeat;
    width: 82%;
    max-width: 1320px;
    margin: 50px auto;
    padding: 100px 0;
}

.text p {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 27px;
    font-style: normal;
    font-weight: 400;
    line-height: 0.4px;
}

.text h1 {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 80px;
    font-style: normal;
    font-weight: 900;
    height: 15px;
    
}